tictactoe/Tic Tac Toe/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSymbol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetSymbolResult" type="q1:GameMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetTurnResult" type="q2:GameMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="UpdateResult" type="q3:GameBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Winner">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WinnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="WinnerResult" type="q4:GameMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Progress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q5:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>