tictactoe/Tic Tac Toe/Service References/TicTacToeService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="TicTacToe.Service" elementFormDefault="qualified" targetNamespace="TicTacToe.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/TicTacToe/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/TicTacToe/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicTacToe.Service" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Mark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Progress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicTacToe.Service" minOccurs="0" name="mark" type="q2:GameMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicTacToe.Service" minOccurs="0" name="board" type="q3:GameBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TicTacToe.Service" minOccurs="0" name="symbol" type="q4:GameMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Winner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TicTacToe.Service" minOccurs="0" name="winMark" type="q5:GameMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>