tictactoe/Tic Tac Toe/Service References/TicTacToeService/TicTacToe.Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="TicTacToe.Service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="TicTacToe.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="TicTacToe.Service/Imports">
      <xsd:import namespace="TicTacToe.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TicTacToe.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TicTacToe_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="TicTacToe_Mark_InputMessage">
    <wsdl:part name="parameters" element="tns:Mark" />
  </wsdl:message>
  <wsdl:message name="TicTacToe_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="TicTacToe_Progress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Progress" />
  </wsdl:message>
  <wsdl:message name="TicTacToe_SetPlayerMark_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetPlayerMark" />
  </wsdl:message>
  <wsdl:message name="TicTacToe_UpdateBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoard" />
  </wsdl:message>
  <wsdl:message name="TicTacToe_SetTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetTurn" />
  </wsdl:message>
  <wsdl:message name="TicTacToe_Winner_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Winner" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="TicTacToe">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="TicTacToe.Service/TicTacToe/Register" message="tns:TicTacToe_Register_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Mark">
      <wsdl:input wsaw:Action="TicTacToe.Service/TicTacToe/Mark" message="tns:TicTacToe_Mark_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Reset">
      <wsdl:input wsaw:Action="TicTacToe.Service/TicTacToe/Reset" message="tns:TicTacToe_Reset_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Progress">
      <wsdl:output wsaw:Action="TicTacToe.Service/TicTacToe/Progress" message="tns:TicTacToe_Progress_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetPlayerMark">
      <wsdl:output wsaw:Action="TicTacToe.Service/TicTacToe/SetPlayerMark" message="tns:TicTacToe_SetPlayerMark_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateBoard">
      <wsdl:output wsaw:Action="TicTacToe.Service/TicTacToe/UpdateBoard" message="tns:TicTacToe_UpdateBoard_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetTurn">
      <wsdl:output wsaw:Action="TicTacToe.Service/TicTacToe/SetTurn" message="tns:TicTacToe_SetTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Winner">
      <wsdl:output wsaw:Action="TicTacToe.Service/TicTacToe/Winner" message="tns:TicTacToe_Winner_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>