tictactoe/Tic Tac Toe/Service References/TicTacToeService/TicTacToe.Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicTacToe.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicTacToe.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="GameMark">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="X" />
      <xs:enumeration value="O" />
      <xs:enumeration value="Draw" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameMark" nillable="true" type="tns:GameMark" />
  <xs:complexType name="GameBoard">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BottomLeft" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BottomMid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BottomRight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MidLeft" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MidMid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MidRight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopLeft" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopMid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopRight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBoard" nillable="true" type="tns:GameBoard" />
</xs:schema>